# Ignore local config with API keys
# (No longer ignoring config.py as it is securely loaded via environment variables)

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

*.__pycache__
*.pyc
static\audio/


epickai


captured_frames

*.mp3

model_cache

users.json
logs/
*.db
*.csv
*.json